* {
  box-sizing: border-box;
  font-family: "Fira Sans", sans-serif;
}
body {
  margin: 0px;
  background: #ededed;
}

.home-container {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  height: 400px;
  width: 600px;
  background: linear-gradient(
    187deg,
    rgba(246, 246, 246, 1) 0%,
    rgba(159, 156, 159, 0.19681375968356096) 100%
  );
  overflow: hidden;
  border-radius: 20px;
  box-shadow: 0 0 20px 8px #d0d0d0;
}

@media (max-width: 610px) {
  .home-container {
    max-width: 320px;
  }
}
.home-content {
  position: absolute;
  top: 50%;
  transform: translatey(-50%);
  text-align: justify;
  color: black;
  padding: 40px;
  font-family: "Merriweather", serif;
}

h1 {
  font-weight: 900;
  text-align: center;
}

h3 {
  font-weight: 300;
}

.header {
  width: 100%;
  height: 68px;
  background-color: #fff159;
  display: flex;
  justify-content: center;
  box-shadow: 0 0 20px 8px #d0d0d0;
}
.header__content {
  display: flex;
  justify-content: center;
  width: 60%;
  padding: 12px 0px;
}
@media (max-width: 610px) {
  .header__content {
    width: 80%;
  }
}
.header__search-form {
  display: flex;
  width: 100%;
}
.header__search-form__input {
  height: 44px;
  margin-right: 14px;
  flex-grow: 1;
}
.header__search-form__button {
  background-color: white;
  height: 44px;
}
.header_form_img {
  height: 15px;
  width: 40px;
}
.header__search-form__input,
.header__search-form__button {
  border-radius: 20px;
  border: 1px solid #d0d0d0;
  box-shadow: 0px 0px 1px 1px #d0d0d0;
}
.content {
  justify-content: center;
  width: 100%;
  padding: 0% 15%;
}

.content__p {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 28px;
  text-align: center;
  height: 130px;
  border: 1px solid #000000;
  border-radius: 4px;
}
.content__h2-title-back {
  font-size: 16px;
  text-decoration: none;
  text-align: right;
  color: #000000;
}
.content__h2-title-resultados {
  font-size: 16px;
  overflow: auto;
}

.content__results {
  margin: 0px;
  padding: 0px;
  list-style: none;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  gap: 15px;
}
@media (max-width: 1152px) {
  .content__results {
    display: flex;
    flex-direction: column;
  }
}

.content__results__item {
  display: grid;
  grid-template-columns: 25% 55% 25%;
  padding: 10px;
  width: 100%;
  height: 150px;
  margin: 16px 0px;
  overflow: hidden;
  background-color: white;
  border-radius: 20px;
  box-shadow: 0 0 20px 8px #d0d0d0;
}
@media (max-width: 600px) {
  .content__results__item {
    display: flex;
    flex-direction: column;
   justify-content: space-around;
   align-items: center;
    
    min-width: 300px;
    height: 280px ;
  }
}

.content__results__item-img {
  padding-left: 5px;
  padding-top: 5px;
  max-width: 128px;
  max-height: 119px;
}
.content__results__item-content {
  margin: 0px 10px;
  padding: 15px;
}
.content__results__item-content-title {
  margin: 0px;
  font-size: 16px;
  color: #000000;
  text-decoration: none;
}
content__results__item-content-condition {
}
.content__results__item-content-count,
.content__results__item-content-count-number {
  font-size: 14px;
}

.content__results__item-price {
  font-size: 28px;
  padding-right: 10px;
  color: #5791a4;
}
